.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .container {
    width: 90%;
    max-width: 1240px;
    padding: 0 20px;
}

.footer .row {
    width: 100%;
    margin: 0;
}

.footer hr {
    margin: 20px 0;
}

.footer .nav-link {
    padding: 0;
}

@media (max-width: 768px) {
    .footer {
        height: auto !important;
        padding: 30px 0;
    }
    
    .footer .container {
        padding: 0 15px;
    }
}